body {
  background-color: #FFFFE0;
  font-family: Arial, sans-serif;
  color: #191970;
}


.kartu-profil {
    width: 250px;
    margin: 50px;
    padding: 10px;
    background-color: #77B7C8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
    text-align: center;
  }

.kartu-profil img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
}
