body {
  background-color: #7FFFD4;
  font-family: Arial, sans-serif;
  color: #2F4F4F;
}


.kartu-profil {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.5);
    text-align: center;
  }

.kartu-profil img {
  width: 100px;
  border-radius: 50%;
  shadow: 0 4px 8px rgba (47, 79, 79, 0,2)
}
